:root {
    --primary-color: #9834db;
    --secondary-color: #cca22e;
    --text-color: #f4f4f4;
    --background-color: #333;
    --subtle-text-color: #aaa;

    --edit-color: #ff6347; /* Tomato color for edit button */
    --delete-color: #ff0000; /* Red color for delete button */
    --save-color: #4caf50; /* Green color for save button */
    --cancel-color: #f44336; /* Red color for cancel button */
    
}

*:focus {
    outline: none;

    box-shadow: 0 0 3px var(--secondary-color);
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}


.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    border: 1px solid var(--secondary-color);
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.card.attribute {
    border: 1px solid var(--primary-color);
}

.card > img {
    max-width: 100px;
    border-radius: 10px;
}
.card > img.changed {
    border: 2px solid var(--primary-color);
}

.id {
    font-size: 0.8em;
    color: var(--subtle-text-color);
    /* margin-bottom: 10px; */
    margin: 0;
}

.row {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0;
}

textarea {
    margin: 20px;
    width: 500px;
    height: 500px;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    padding: 10px;
    background-color: var(--background-color);
    color: var(--text-color);
    resize: none;
}

.selection {
    width: 20px;
    height: 20px;
    border: 2px solid var(--secondary-color);
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;

    transition: background-color 0.3s, border-color 0.3s;
}
.selection:hover {
    background-color: var(--secondary-color);
}
.selection.selected {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

#selected-display {
    text-align: right;
}

.toolsContainer {
    display: flex;
    justify-content: space-between;
    flex: 1;
    gap: 10px;
}

.toolsContainer > button {
    flex: 1;
}

nav {
    border-bottom: 1px solid var(--secondary-color);
    padding: 10px;
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav > h1, nav > h2 {
    margin: 0;
}

button {
    border: 1px solid var(--primary-color);
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;

    font-weight: bold;
}
button:hover {
    background-color: var(--primary-color);
    color: var(--text-color);
    transform: scale(1.1);
}

#add-item {
    border: 1px solid var(--secondary-color);
}
#add-item:hover {
    background-color: var(--secondary-color);
}

#add-attr {
    border: 1px solid var(--primary-color);
}
#add-attr:hover {
    background-color: var(--primary-color);
}

#edit {
    border: 1px solid var(--edit-color);
}
#edit:hover {
    background-color: var(--edit-color);
}

#remove {
    border: 1px solid var(--delete-color);
}
#remove:hover {
    background-color: var(--delete-color);
}

#save {
    border: 1px solid var(--save-color);
}
#save:hover {
    background-color: var(--save-color);
}

#cancel {
    border: 1px solid var(--cancel-color);
}
#cancel:hover {
    background-color: var(--cancel-color);
}

.stat-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid var(--secondary-color);
    padding: 0px 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
.stat {
    font-size: 0.8em;
    color: var(--subtle-text-color);
    padding: 0;
}


.options-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--secondary-color);
    gap: 5px;

    padding: 20px;
    
    margin: 20px;
    margin-bottom: 0;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    background-color: var(--background-color);
    color: var(--text-color);
}
.options-container > label {
    min-width: 500px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.options-container > label > p {
    margin: 0;
}

input {
    border: 1px solid var(--secondary-color);
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 5px;
    border-radius: 5px;
}

select {
    border: 1px solid var(--secondary-color);
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 5px;
    border-radius: 5px;
}